In [ ]:
Name = "Abdulaziz Badr M Aljoaid"

SELECT * FROM People;
INSERT INTO People (name, ID_number) VALUES ('Tim', '122842');
UPDATE Peopel SET ID_number = '1628462' WHERE name = 'James';
DELETE FROM People WHERE name = 'James';

SELECT * FROM People WHERE Name ="" or ""="" AND ID_number ="" or ""=""

txtSQL = SELECT * FROM People WHERE Name ="" or ""="" AND ID_number ="" or ""=""

In [55]:
import sqlite3

##user_input = input("What would you like to do? ")

conn = sqlite3.connect('example.db')
cursor = conn.cursor()
# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS People (
    id INTEGER PRIMARY KEY,
    name TEXT,
    num REAL
)
''')

# Insert data into the table
cursor.execute('''
INSERT INTO People (name, num) VALUES (?, ?)
''', ('James', 172946))

cursor.execute('''
INSERT INTO People (name, num) VALUES (?, ?)
''', ('Tim', 184636))

# Select data from the table
cursor.execute('SELECT * FROM People')
rows = cursor.fetchall()
for row in rows:
    print(row)

# Update data in the table
cursor.execute('''
UPDATE People SET num = ? WHERE name = ?
''', (128566, 'James'))


cursor.execute('''
DELETE FROM People WHERE name = ?
''', ('Tim',))

conn.commit()
conn.close()

[(1, 'James', 128566.0), (2, 'James', 128566.0), (3, 'James', 128566.0), (4, 'James', 128566.0), (5, 'James', 128566.0), (6, 'James', 128566.0), (7, 'James', 128566.0), (8, 'James', 128566.0), (9, 'James', 128566.0), (10, 'James', 128566.0), (11, 'James', 128566.0), (12, 'James', 172946.0), (13, 'Tim', 184636.0)]