  import -- Create a new database called 'DatabaseName'
  -- Connect to the 'master' database to run this snippet
  USE master
  GO
  -- Create the new database if it does not exist already
  IF NOT EXISTS (
    SELECT name
        FROM sys.databases
        WHERE name = N'car_company'
  )
  CREATE DATABASE car_company
  GO

  
 SELECT * FROM cars;
    INSERT INTO cars (carname, value) VALUES ('carname1', 'value1');
    UPDATE cars SET value = 'newvalue' WHERE carname = 'carname1';
    DELETE FROM cars WHERE carname = 'carname1';

 SELECT * FROM cars WHERE carname = 'admin' -- ' AND password = 'password';

  conn = sqlite3.connect('example.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM cars WHERE carname = ? AND value = ?", (carname, value))
 


   CREATE TABLE Products (
         id INTEGER PRIMARY KEY,
         name TEXT,
         price REAL
     );

   INSERT INTO Products (name, price) VALUES ('Product1', 10.99);
     INSERT INTO Products (name, price) VALUES ('Product2', 20.99);

In [ ]:
CREATE TABLE Products (
         id INTEGER PRIMARY KEY,
         name TEXT,
         price REAL
     );

     INSERT INTO Products (name, price) VALUES ('Product1', 10.99);
     INSERT INTO Products (name, price) VALUES ('Product2', 20.99);
 SELECT * FROM Products;

  UPDATE Products SET price = 15.99 WHERE name = 'Product1';
DELETE FROM Products WHERE name = 'Product2';

In [ ]:
import sqlite3

     conn = sqlite3.connect('example.db')
     cursor = conn.cursor()

     # Create a table
     cursor.execute('''
     CREATE TABLE IF NOT EXISTS Products (
         id INTEGER PRIMARY KEY,
         name TEXT,
         price REAL
     )
     ''')

     # Insert data into the table
     cursor.execute('''
     INSERT INTO Products (name, price) VALUES (?, ?)
     ''', ('Product1', 10.99))

     cursor.execute('''
     INSERT INTO Products (name, price) VALUES (?, ?)
     ''', ('Product2', 20.99))

     # Select data from the table
     cursor.execute('SELECT * FROM Products')
     rows = cursor.fetchall()
     for row in rows:
         print(row)

     # Update data in the table
     cursor.execute('''
     UPDATE Products SET price = ? WHERE name = ?
     ''', (15.99, 'Product1'))

     # Delete data from the table
     cursor.execute('''

In [ ]:
     DELETE FROM Products WHERE name = ?
     ''', ('Product2',))

     conn.commit()
     conn.close()
     ```