SELECT * FROM Raed;
INSERT INTO Raed (Account, password) VALUES ('Account1', '98732');
UPDATE Raed SET password = '123456' WHERE username = 'Account1';
DELETE FROM Raed WHERE username = 'Account1';

SELECT * FROM Raed WHERE username = 'Zahrani' -- ' AND password = '765422';