select* from school
insert into school (student name, id) Values (fahad , 3349)
update shool set password = "physics" where name = "fahad"
delete from school where name ="fahad";