In [ ]:
#Part 3:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS Products (
    id INTEGER PRIMARY KEY,
    name TEXT,
    price REAL
)
''')
cursor.execute('''
INSERT INTO Products (name, price) VALUES (?, ?)
''', ('Product1', 10.99))
cursor.execute('''
INSERT INTO Products (name, price) VALUES (?, ?)
''', ('Product2', 20.99))
cursor.execute('SELECT * FROM Products')
rows = cursor.fetchall()
for row in rows:
    print(row)
cursor.execute('''
UPDATE Products SET price = ? WHERE name = ?
''', (15.99, 'Product1'))
cursor.execute('''
DELETE FROM Products WHERE name = ?
''', ('Product2',))
conn.commit()
conn.close()

In [38]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS Store (
Product VARCHAR(250),
Price VARCHAR(250)
)
''')
cursor.execute('''
INSERT INTO Store(Product, Price) VALUES ('Cheese', '16')''')
cursor.execute('''SELECT * FROM Store''')
conn.commit()
conn.close()

OperationalError: database is locked

Part 1:
SELECT * From Cars;
INSERT INTO Cars(Make, Model) VALUES (Kia, 2022);
UPDATE Cars SET Model = 2023 WHERE Make = 'Kia';
DELETE FROM Cars WHERE Make = 'Kia';

Part 2:
SELECT * FROM users WHERE username = '' OR '1'='1' AND password = '$password';


$stmt = $pdo->prepare('SELECT * FROM users WHERE username = ? AND password = ?');
$stmt->execute([$username, $password]);

Part 3:
CREATE TABLE Products (
 id INTEGER PRIMARY KEY,
 name TEXT,
 price REAL
);
INSERT INTO Products (name, price) VALUES ('Product1', 10.99);
INSERT INTO Products (name, price) VALUES ('Product2', 20.99);
SELECT * FROM Products;
UPDATE Products SET price = 15.99 WHERE name = 'Product1';
DELETE FROM Products WHERE name = 'Product2';