SELECT * FROM members;
INSERT INTO members (first_name, last_name) VALUES ('fname', 'lname');
UPDATE members SET last_name = 'newlname' WHERE first_name = 'fname';
DELETE FROM members WHERE first_name = 'fname';

SELECT * FROM members WHERE first_name = 'first_name' -- ' AND last_name = 'last_name';

import sqlite3

    conn = sqlite3.connect('example.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM members WHERE first_name = ? AND last_name = ?", (first_name, last_name))

     ```sql
     -- Create a table
     CREATE TABLE Products (
         id INTEGER PRIMARY KEY,
         name TEXT,
         price REAL
     );

     -- Insert data into the table
     INSERT INTO Products (name, price) VALUES ('Product1', 10.99);
     INSERT INTO Products (name, price) VALUES ('Product2', 20.99);

     -- Select data from the table
     SELECT * FROM Products;

     -- Update data in the table
     UPDATE Products SET price = 15.99 WHERE name = 'Product1';

     -- Delete data from the table
     DELETE FROM Products WHERE name = 'Product2';
     ```

In [1]:
# Connect to SQLite database
import sqlite3

conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Products (
   id INTEGER PRIMARY KEY,
    name TEXT,
    price REAL
 )
 ''')

     # Insert data into the table
cursor.execute('''
INSERT INTO Products (name, price) VALUES (?, ?)
''', ('Product1', 10.99))

cursor.execute('''
INSERT INTO Products (name, price) VALUES (?, ?)
''', ('Product2', 20.99))

     # Select data from the table
cursor.execute('SELECT * FROM Products')
rows = cursor.fetchall()
for row in rows:
    print(row)

     # Update data in the table
cursor.execute('''
UPDATE Products SET price = ? WHERE name = ?
''', (15.99, 'Product1'))

     # Delete data from the table
cursor.execute('''
DELETE FROM Products WHERE name = ?
''', ('Product2',))

conn.commit()
conn.close()

(1, 'Product1', 10.99)
(2, 'Product2', 20.99)