    SELECT * FROM Subcribers;
    INSERT INTO Subscribers (username, password) VALUES ('user1', 'password1');
    UPDATE Subscribers SET password = 'newpassword' WHERE username = 'user1';
    DELETE FROM Subscribers WHERE username = 'user1';

 SELECT * FROM Subscribers WHERE username = 'admin' -- ' AND password = 'password';

# SQL INJECTION
A Code Injection Technique That Might Destroy The Database.
# HOW YOU CAN PREVENT AN INJECTION?
Option 1: Use of Prepared Statements (with Parameterized Queries)
Option 2: Use of Properly Constructed Stored Procedures
Option 3: Allow-list Input Validation
Option 4: STRONGLY DISCOURAGED: Escaping All User Supplied Input

import sqlite3

    conn = sqlite3.connect('GymSubscribers.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM Subscribers WHERE username = ? AND password = ?", (username, password))

 CREATE TABLE Subs (
         id INTEGER PRIMARY KEY,
         name TEXT,
         price REAL
     );

          INSERT INTO Products (name, price) VALUES ('Monthly Sub Lite', 29.99);
     INSERT INTO Products (name, price) VALUES ('Monthly Sub Premium', 59.99);

      SELECT * FROM Subs;

      UPDATE Products SET price = 29.99 WHERE name = 'Monthly Sub Lite';
      DELETE FROM Products WHERE name = 'Monthly Sub Premuim';

In [7]:
import sqlite3

conn = sqlite3.connect('GymSubscribers.db')
cursor = conn.cursor()

In [9]:
cursor.execute('''
     CREATE TABLE IF NOT EXISTS Subs (
         id INTEGER PRIMARY KEY,
         name TEXT,
         price REAL
     )
     ''')

In [10]:
cursor.execute('''
     INSERT INTO Subs (name, price) VALUES (?, ?)
     ''', ('Monthly Sub Lite', 19.99))

cursor.execute('''
     INSERT INTO Subs (name, price) VALUES (?, ?)
     ''', ('Monthly Sub Premuim', 24.99))

In [13]:
cursor.execute('SELECT * FROM Subs')
rows = cursor.fetchall()
for row in rows:
         print(row)

cursor.execute('''
     UPDATE Subs SET price = ? WHERE name = ?
     ''', (15.99, 'Monthly Sub Lite'))

cursor.execute('''
     UPDATE Subs SET price = ? WHERE name = ?
     ''', (24.99, 'Monthly Sub Premuim'))

cursor.execute('''
     DELETE FROM Subs WHERE name = ?
     ''', ('Monthly Sub Premuim',))

conn.commit()
conn.close()

(1, 'Monthly Sub Lite', 15.99)
(2, 'Monthly Sub Premuim', 24.99)

# THIS IS A SIMPLE PRICING SYSTEM FOR A GYM WITH : INSERT UPDATE DELETE
What Happend Here That We Excuted A Table And Then We Printed The Rows As A Text Then We Excuted The Table And We Updated The Price Of A Row 1 Then We Also Excuted The Second One And We Updated The Price Of Row 2 And In Last We Deleted The Row "Monthly Sub Premium" And In The Last 2 Lines We Applied Everything Then We Closed The Connection