In [5]:
import sqlite3

# Connect to SQLite database file 'example.db'
conn = sqlite3.connect('example.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create or ensure the existence of the 'Books' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Books (
    id TEXT PRIMARY KEY,
    name TEXT,
    members TEXT
)
''')

# Insert data into the 'Books' table
cursor.execute('''
INSERT INTO Books(name, members) VALUES (?, ?)
''', ('Book1', 'Student1'))  # Assuming 'Student1' is a string representing a student's name

cursor.execute('''
INSERT INTO Books(name, members) VALUES (?, ?)
''', ('Book2', 'Student2'))  # Assuming 'Student2' is a string representing another student's name

# Select and print all rows from the 'Books' table
cursor.execute('SELECT * FROM Books')
rows = cursor.fetchall()
for row in rows:
    print(row)

# Update data in the 'Books' table
cursor.execute('''
UPDATE Books SET members = ? WHERE name = ?
''', ('NewStudent1', 'Book1'))  # Update 'members' for 'Book1' to 'NewStudent1'

# Delete data from the 'Books' table
cursor.execute('''
DELETE FROM Books WHERE name = ?
''', ('Book2',))  # Delete the row where 'name' is 'Book2'

# Commit the transaction
conn.commit()

# Close the database connection
conn.close()

(None, 'Book1', 'NewStudent1')
(None, 'Book1', 'NewStudent1')
(None, 'Book1', 'Student1')
(None, 'Book2', 'Student2')

In [4]:
import sqlite3

# Connect to SQLite database file 'example.db'
conn = sqlite3.connect('example.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("SELECT * FROM Books WHERE members = 'StudentNew' -- ' AND Book1 = 'Booknew';")

# Fetch all rows returned by the query
rows = cursor.fetchall()

# Print the results
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

Musaed
Albaraa
Wael
Raid